target/
.classpath
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
.project
.checkstyle
*.DS_Store
.idea
*.iml
databases/database*.log
databases/*.db
